extends layout

block content
  h1= title
  - let items = results
  div(class="container-fluid")
    div(class="row")
      each item,index in items
        div(class="col-sm-2",onClick=`buy(${index})`)
          p Color is #{item.elephant_color}
          p height is #{item.elephant_height}
          p Weight is #{item.elephant_weight}
          //- Bonus details
          //- Bonus Logic
  script.
    function buy(Items) {
      Items = Items+1;
      alert(`You Purchased Item ${Items}`);
    }




    